/*
#file name : Add Pet.css
#author: Tommy
#created: 28/05/2019
#Last modified: 28/05/2019
#Description: CSS for View Contact Page
*/

article {
	background-color: #71C671;
	width: 25%;
	margin-left: 37.5%;
	font-family: Arial;
	text-align: center;
}

h2 {
	border: 1px solid black;
	background-color: #E0EEE0;
}

fieldset {
	background-color: #E0EEE0;
}

fieldset legend {
	border: 0.5px solid black;
	background-color: #E0EEE0;
}

div p {
	font-weight: 900;
}

input[type=text] {
  padding: 0;
  margin-right: 40px;
  height: 40px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 15px;
}

input[type=date] {
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
}

select {
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
}

input[type=submit] {
	font-size: 20px;
	position: relative;
	margin-bottom: 10px;
}

input[type=reset] {
	font-size: 20px;
	position: relative;
	margin-bottom: 10px;
}

input[type=file] {
	font-size: 15px;
	position: relative;
}

#PetImage2 {
	margin-left: 70px;
}

textarea {
  padding: 0;
  height: 80px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 15px;
}