/*
#file name : ViewContact.css
#author: Yichen
#created: 28/05/2019
#Last modified: 28/05/2019
#Description: CSS for View Contact Page
*/

aside {
	display: block-inline;
}

table {
	border: collapse;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	background-color: #7CCD7C;
	font-family: Arial;
}

table caption{
	font-size:40px;
	font-weight:600;
	background-color:#CCFFCC;
}

table, th {
	font-size: 12pt;
}

table, th, td {
	border: 1px solid black;
}